## Classement de strings

In [2]:
# Liste de prenoms
names = [
    "Alice", 
    "Bob", 
    "Charlie", 
    "Diana", 
    "Ethan", 
    "Fiona", 
    "George", 
    "Hannah", 
    "Ian", 
    "Jasmine"
]

In [19]:
# Critère de classement : premier caractère
def classement(name):
    return name[0]

liste_triee = sorted(names, key=classement)
liste_triee

['Alice',
 'Bob',
 'Charlie',
 'Diana',
 'Ethan',
 'Fiona',
 'George',
 'Hannah',
 'Ian',
 'Jasmine']

In [18]:
# Critère de classement : dernier caractère
def classement(name):
    return name[-1]

liste_triee = sorted(names, key=classement)
liste_triee

['Diana',
 'Fiona',
 'Bob',
 'Alice',
 'Charlie',
 'George',
 'Jasmine',
 'Hannah',
 'Ethan',
 'Ian']

In [20]:
# Critère de classement : longueur du string
def classement(name):
    return len(name)

liste_triee = sorted(names, key=classement)
liste_triee

['Bob',
 'Ian',
 'Alice',
 'Diana',
 'Ethan',
 'Fiona',
 'George',
 'Hannah',
 'Charlie',
 'Jasmine']

## Classement de tuples

In [22]:
# Trier les people par age
people = [
    ("Alice", 28),
    ("Bob", 34),
    ("Charlie", 22),
    ("Diana", 29),
    ("Ethan", 31),
    ("Fiona", 26),
    ("George", 40),
    ("Hannah", 25),
    ("Ian", 38),
    ("Jaasmine", 27)
]

def classement(personne):
    return personne[1]

personnes_triees = sorted(people, key=classement)
personnes_triees

[('Charlie', 22),
 ('Hannah', 25),
 ('Fiona', 26),
 ('Jaasmine', 27),
 ('Alice', 28),
 ('Diana', 29),
 ('Ethan', 31),
 ('Bob', 34),
 ('Ian', 38),
 ('George', 40)]

In [23]:
# Trier les people par age (décroissant)
people = [
    ("Alice", 28),
    ("Bob", 34),
    ("Charlie", 22),
    ("Diana", 29),
    ("Ethan", 31),
    ("Fiona", 26),
    ("George", 40),
    ("Hannah", 25),
    ("Ian", 38),
    ("Jaasmine", 27)
]

def classement(personne):
    return personne[1]

personnes_triees = sorted(people, key=classement, reverse=True)
personnes_triees

[('George', 40),
 ('Ian', 38),
 ('Bob', 34),
 ('Ethan', 31),
 ('Diana', 29),
 ('Alice', 28),
 ('Jaasmine', 27),
 ('Fiona', 26),
 ('Hannah', 25),
 ('Charlie', 22)]

In [25]:
# On peut faire pareil que le tri pour aller chercher le "max des tuples" 
# Il faut choisir également un critère de classement pour définir qui est 
# "le plus grand"

# Dans ce cas on dit que le critère de 
# décision est l'age de la personne
people = [
    ("Alice", 28),
    ("Bob", 34),
    ("Charlie", 22),
    ("Diana", 29),
    ("Ethan", 31),
    ("Fiona", 26),
    ("George", 40),
    ("Hannah", 25),
    ("Ian", 38),
    ("Jaasmine", 27)
]

def classement(personne):
    return personne[1]

personne_max = max(people, key=classement)
personne_max

('George', 40)

In [26]:
# On peut faire pareil que le tri pour aller chercher le "max des tuples" 
# Il faut choisir également un critère de classement pour définir qui est 
# "le plus grand"

# Dans ce cas on dit que le critère de 
# décision est la longueur du prenom de la personne
people = [
    ("Alice", 28),
    ("Bob", 34),
    ("Charlie", 22),
    ("Diana", 29),
    ("Ethan", 31),
    ("Fiona", 26),
    ("George", 40),
    ("Hannah", 25),
    ("Ian", 38),
    ("Jaasmine", 27)
]

def classement(personne):
    return len(personne[0])

# Pour changer un peu on prend le "min" cette fois
personne_min = min(people, key=classement)
personne_min

('Bob', 34)

### Fonctions lambda

- C'est un peu tôt pour parler de ça, mais....  
- Comme vous le trouvez régulièrement sur internet, chatGPT, etc...

In [13]:
# Définition "normale" d'une fonction 
def say_hello(name):
    return 'Bonjour ' + name)

say_hello("florian")

Bonjour florian

In [ ]:
# Il y a équivalent entre les deux écritures
# On aboutit au même résultat

# Définition de la fonction en lambda
say_hello = lambda name: "Bonjour " + name

# Appel de la fonction
say_hello("florian")

In [29]:
# Application des lambdas pour le tri de tuples
people = [
    ("Alice", 28),
    ("Bob", 34),
    ("Charlie", 22),
    ("Diana", 29),
    ("Ethan", 31),
    ("Fiona", 26),
    ("George", 40),
    ("Hannah", 25),
    ("Ian", 38),
    ("Jaasmine", 27)
]

# On peut écrire comme ça
classement = lambda personne: personne[1]
people_tries = sorted(people, key=classement)

# Ou comme ça. 
# Ici on ne s'embête même pas à donner un nom à la fonction lambda
# Elle est "anonyme"
# C'est la notation la plus courante
people_tries = sorted(people, key=lambda personne: personne[1])

people_tries

[('Charlie', 22),
 ('Hannah', 25),
 ('Fiona', 26),
 ('Jaasmine', 27),
 ('Alice', 28),
 ('Diana', 29),
 ('Ethan', 31),
 ('Bob', 34),
 ('Ian', 38),
 ('George', 40)]